@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-
    gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/reli123-logo.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}